.CardsList{
    width: 350px;
    height: 160px;
    display: flex;
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    gap: 19px;
}

.CardsList img{
    clip-path: circle();
}

.CardsListInfo h1{
    color: black;
}