/*
.CardsList{
    width: 350px;
    height: 160px;
    display: flex;
    background-color: #FFF;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
}

.CardsList img{
    clip-path: circle();
}

.CardsListInfo h1{
    color: black;
}

.Cards{
    
    padding-bottom: 2%;
}
*/